<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="styles.css">
  <link rel="shortcut icon" href="/assets/favico/favicon.ico" type="image/x-icon">
  <title>Rocketflix</title>
</head>

<body>
  <div id="main">
    <div id="Cabecalho">
      <img id="Setas"
      src="./assets/favico/logo.svg" alt="icon" 
      />
      <h2 id="Titulo">Não sabe o que assistir?</h2>
    </div>
      <div id="botao">
        
        <button onclick="findmove()">
          <img src="./assets/favico/logo.svg"
          />
          Encontrar filme
        </button>
        <span></span>
      </div>
</div>
  <script type="module" src="main.js"></script>
</body>

<script>

function findmove(){
  const options = {
  method: 'GET',
  headers: {
    accept: 'application/json',
    Authorization: 'Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIxODNjMDY4ZGY5NzZlMGE0NjE1YTZiMDcxNjlkNGM4ZSIsInN1YiI6IjY0ZTk3MjI3NTI1OGFlMDBlYWE0NGVmMyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.OjMwTv6VnEennnVGTDliCWifVqAq1GlOHPojTr0o5hU'
  }
};

fetch('https://api.themoviedb.org/3/discover/movie?include_adult=false&include_video=false&language=en-US&page=1&sort_by=popularity.desc', options)
  .then(response => response.json())
  .then(response => console.log(response))
  .catch(err => console.error(err));
}


  
</script>


</html>